/** @format */

.faceid-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Поднимаем Face ID выше */
  padding-top: 25vh;
  z-index: 300; /* Убедимся, что Face ID выше всего */
  background: none;
}

.faceid-animation {
  width: 120px;
  height: 120px;
}
