/** @format */

/* Подключение шрифта Leto Sans */
@font-face {
  font-family: "Leto Sans";
  src: local("Leto Sans Regular"), local("Leto-Sans-Regular"),
    url("./fonts/LetoSans-Regular.woff2") format("woff2"),
    url("./fonts/LetoSans-Regular.woff") format("woff"),
    url("./fonts/LetoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Глобальные стили */
:root {
  font-family: "Leto Sans", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000000de;
  background-color: hsl(49, 100%, 91%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Стили для body */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  overscroll-behavior: none; /* Запрещает оттяжку страницы */
  overflow: hidden;
}

/** @format */
.app-container {
  transition: filter 0.5s ease-in-out;
}

/** @format */

/** @format */

.blur-background {
  filter: blur(10px);
  transition: filter 0.5s ease-in-out;
}
