/** @format */

.settings-page-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.back-icon {
  width: 28px;
  height: auto;
}

.settings-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Карточка с настройками */
.settings-card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Элемент настройки */
.settings-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
}

/* Разделительная линия */
.settings-divider {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

/* Стили для переключателя */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Серый фон (выключено) */
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ff8800; /* Оранжевый фон (включено) */
}

input:checked + .slider:before {
  transform: translateX(16px);
}
