/** @format */

.vacancies-container {
  background-color: #ccd5bf;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-top: -50px;
}

h1 {
  font-size: clamp(29px, 5vw, 32px);
  font-weight: bold;
}

.help-button {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-button img {
  width: 25px; /* ✅ Размер иконки */
  height: 25px;
  object-fit: contain;
}

.vacancies-description,
.vacancies-text {
  max-width: 500px;
  font-size: clamp(14px, 4vw, 18px);
  color: black;
  margin-top: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: clamp(14px, 4vw, 18px);
  margin-top: 250px;
}

.checkbox-container input {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

.start-button {
  width: 90%;
  max-width: 500px;
  padding: 15px;
  margin-top: 30px;
  font-size: clamp(18px, 4vw, 20px);
  font-weight: bold;
  color: black;
  background-color: orange;
  border: none;
  border-radius: 30px;
  transition: background 0.3s ease;
}

.start-button:active {
  background-color: darkorange;
}
